#wrapper, #header {
    background-color: green;
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

#header {
    background-color: pink;
}

#content {
    background-color: lightblue;
    width: 80%;
    float: left;
    min-height: 200px;
}

#sidebar {
    background-color: purple;
}

#footer {
    background-color: blue;
    clear: both;
}
