#header {
    background-color: pink;
}

#wrapper {
    background-color: green;
}

#content {
    background-color: lightblue;
    width: 80%;
    float: left;
    min-height: 200px;
}

#sidebar {
    background-color: purple;
}

#footer {
    background-color: blue;
    clear: both;
}
